<div class="error">
  <%= devise_error_messages! %>
</div>

<div class = "divs">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

      <label class="div_header"> Edit <%= resource_name.to_s.humanize %> </label> <hr/>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :current_password %> <br />
      <%= f.password_field :current_password, autocomplete: "off" %>
    </div>

      <hr/>

    <div class="TextFields">

      <%= f.label "First_Name" %><br/>
      <%= f.text_field :fName , :allow_blank => false%> <br/>

      <%= f.label "Last_Name" %><br/>
      <%= f.text_field :lName , :allow_blank => false%><br/>

      <%= f.label "Address" %><br/>
      <%= f.text_field :address , :allow_blank => false%><br/>

      <%= f.label "City" %><br/>
      <%= f.text_field :city , :allow_blank => false%><br/>

      <%= f.label "Province" %><br/>
      <%= select(:user, :province, [['ON', 'ON'],['QC', 'QC'], ['AB','AB'], ['NB','NB'], ['NS','NS'], ['NT','NT'],
                                    ['MB','MB'], ['BC','BC'], ['PE','PE'], ['SK','SK'] ,['NL','NL'] ,['NU','NU'],
                                    ['YT','YT']]) %> <br>

      <%= f.label "Postal Code" %><br/>
      <%= f.text_field :pCode , :allow_blank => false%><br/>

      <%= f.label "Telphone" %><br/>
      <%= f.telephone_field :telephone, :max_length => 10, :min_length => 10%><br/>
    </div> <hr/>

    <div class="actions">
      <%= f.submit "Update" %>

<% end %>

 <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
<%= button_to "Back", root_path , :method => :get %>
  </div>

</div>